<br>
<div class="col-sm-2 geri">
  <%= link_to "Geri Dön", root_path, class: "btn btn-warning" %>
</div>
<div class="col-sm-12">
  <div class="page-header">
    <h2>YÖNETİCİ GİRİŞİ</h2>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :email, "E-posta" %>
      <br>
      <%= f.email_field :email %>
      <br><br>
      <%= f.label :password, "Şifre" %>
      <br>
      <%= f.password_field :password %>
      <br><br>
      <%= f.submit "Giriş Yap", class: "btn btn-primary" %>
      <% end %>
      <br><br>
      <p>Üyeliğiniz yok mu?
        <%= link_to "Kayıt Ol!", signup_path %>
      </p>
    </div>
  </div>
</div>
</div>
