<h2>
  <%= @post.title %>
</h2>
<hr>
  <%= @post.content %>

<br><br><br>

<%= link_to "Geri Dön", root_path %>
<%= link_to "Düzenle", edit_post_path(@post) %>
<%= link_to "Sil", post_path(@post), method: :delete, data: { confirm: "Yazıyı silmek istediğinizden emin misiniz?"} %>
