<div class="column col-sm-2" id="sidebar">
  <a class="logo" href="#">N.</a>
  <ul class="nav">
    <li class="active">
      <%= link_to "Blog", root_path %>
    </li>
    <li>
      <%= link_to "Hakkımda", root_path %>
    </li>
    <li>
      <%= link_to "İletişim", root_path %>
    </li>
    <% if logged_in? %>
    <li><%= link_to "Profil", current_user %></li>
    <% end %>
  </ul>
  <ul class="nav hidden-xs" id="footer">
    <% if logged_in? %>
      <li>
        <%= link_to "Yeni Yazı", new_post_path(@post), class: "btn btn-success" %>
      </li>
      <br>
      <li>
        <%= link_to "Çıkış Yap", logout_path, class: "btn btn-danger", method: "delete" %>
      </li>
    <% else %>
      <li>
        <%= link_to "Yönetici Girişi", login_path %>
      </li>
    <% end %>
  </ul>
</div>
